<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
 version="2.4">

    <servlet>
        <servlet-name>DeletePic</servlet-name>
        <servlet-class>DeletePic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePic</servlet-name>
        <url-pattern>/DeletePic</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditPic</servlet-name>
        <servlet-class>EditPic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPic</servlet-name>
        <url-pattern>/EditPic</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetOnePic</servlet-name>
        <servlet-class>GetOnePic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetOnePic</servlet-name>
        <url-pattern>/GetOnePic</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetBigPic</servlet-name>
        <servlet-class>GetBigPic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetBigPic</servlet-name>
        <url-pattern>/GetBigPic</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>UploadImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Groups</servlet-name>
        <servlet-class>Groups</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Groups</servlet-name>
        <url-pattern>/Groups</url-pattern>
    </servlet-mapping>

</web-app>
